.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.clickMe {
  margin-top: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  padding-bottom: 3rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: min-content;
}

.item {
  padding: 2rem;
}

.name {
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: large;
}
