<div>
  <div class="details-grid">
    <h1 class="pokemon-name">{{ pokemonDetails.name | titlecase }}</h1>
    <img class="pokemon-image" [src]="pokemonDetails.sprites.front_default" />
    <div class="single-item">
      <div>
        <span class="label">Base Experience: </span>
        <span>{{ pokemonDetails.base_experience }}</span>
      </div>
      <div>
        <span class="label">Weight: </span>
        <span>{{ pokemonDetails.weight }}</span>
      </div>
      <div>
        <span class="label">Height: </span>
        <span>{{ pokemonDetails.height }}</span>
      </div>
    </div>
    <div class="type-item">
      <p class="title">Type</p>
      <div class="text">
        <p *ngFor="let type of pokemonDetails.types; let i = index">
          {{ type.type.name | titlecase }}
        </p>
      </div>
    </div>
    <div class="ability-item">
      <p class="title">Abilities</p>
      <div class="text">
        <p *ngFor="let ability of pokemonDetails.abilities; let i = index">
          {{ ability.ability.name | titlecase }}
        </p>
      </div>
    </div>
  </div>
</div>
